body{
  background-color: #181036;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.container-container label{
  font-size: 18px;
}

.container-container input{
  width: 10rem;
}
