
:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center ;
  margin-top: auto;

}
.botones{
  display: flex;
}

.inputs label{
  text-align: center;
  margin: 1rem;
  font-size: 18px;
}

.inputs input{
  width: 20rem;
  height: 1.4rem;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botones button{
  padding: 8px;
  margin: 10px;
  width: 7rem;
  transition: 0.2s;
  border: none;
  cursor: pointer;
  margin-top: 1.7rem;
}

button:hover{
  background-color: #2a2a66;
}


